:root {
	--theme-primary: brown;
	--theme-primary-dark: rgb(94, 21, 21);
	--theme-primary-text: white;
	--theme-primary-shadow: black;
}

html, body {
	margin: 0px;
	padding: 0px;
	font-size: 100%;
}

#root {
	background-color: var(--theme-primary-dark);
}

header {
	height: 64px;
	background-color: var(--theme-primary);
}

main {
	min-height: 1024px;
}

footer {
	height: 128px;
	background-color: var(--theme-primary);
}
