
.counter {
	position: relative;
	background-image: url(../main/header.png);
	background-position-y: bottom;
	height: 464px;
}

.counter > .background {
	background-image: url(counter-background.png);
	background-position-y: bottom;
	background-repeat: repeat-x;
	background-color: var(--theme-primary-dark);
	height: 320px;
}

.shopkeeper {
	position: absolute;
	top: 10px;
	right: 100px;
	width: 280px;
}

.total {
	position: absolute;
	top: 360px;
	left: 84px;
	color: var(--theme-primary-text);
	font-size: 1.6rem;
	padding: 1rem;

}

.checkout {
	position: absolute;
	top: 360px;
	right: 140px;
	color: var(--theme-primary-text);
	font-size: 1.6rem;
	padding: 1rem;
	background-color: var(--theme-primary-dark);
	border-radius: 16px;
	cursor: pointer;
}

.shelf {
	position: relative;
	background-image: url("shelf.png");
	font-size: 0rem;
	margin: 0 auto;
}

.shelf::before {
	content: "";
	display: block;
	position: absolute;
	top: 0px;
	bottom: 0px;
	background-image: url(../main/beam-vertical.png);
	width: 48px;
	margin-left: -48px;
}

.shelf::after {
	content: "";
	display: block;
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	background-image: url(../main/beam-vertical.png);
	width: 48px;
	margin-right: -48px;
}

.potion {
	position: relative;
	display: inline-block;
	font-size: 1rem;
}

.potion > .title {
	margin-top: 16px;
	color: var(--theme-primary-text);
	font-size: 1.4rem;
	text-shadow: var(--theme-primary-shadow) 0px 0px 1px, var(--theme-primary-shadow) 0px 0px 1px, var(--theme-primary-shadow) 0px 0px 1px, var(--theme-primary-shadow) 0px 0px 1px, var(--theme-primary-shadow) 0px 0px 1px, var(--theme-primary-shadow) 0px 0px 1px;;
}

.potion:not(.interactive) > .title {
	visibility: hidden;
}

.potion > .addToCart {
	position: absolute;
	left: 0px;
	right: 0px;
	margin: 0px auto;
	width: 6rem;
	top: 80px;
	color: var(--theme-primary-text);
	font-size: 1rem;
	padding: 0.8rem;
	background-color: var(--theme-primary-dark);
	border-radius: 16px;
	text-align: center;
	visibility: hidden;
	cursor: pointer;
}

.potion.interactive:hover > .addToCart {
	visibility: initial;
}

.potion > .photo {
	position: absolute;
	bottom: 30px;
	left: 0px;
	right: 0px;
	margin: 0px auto;
	height: 140px;
}

.potion > .tag {
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: 0px auto;
	width: min-content;
	color: var(--theme-primary-text);
	font-size: 1.4em;
}


.cart {
	position: absolute;
	left: 0px;
	top: 0px;
}
