
.counter {
    height: 256px;
    background-color: teal;
}

.shelf {
    display: grid;
    grid-template-columns: repeat(4, 256px);
    justify-content: center;
    column-gap: 16px;
    row-gap: 16px;
}

.potion {
    background-color: black;
    width: 256px;
    height: 256px;
}
